# Entorno virtual
.venv/
venv/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/

# Configuración local y secretos
.env
*.log

# Archivos de Docker
*.pid
*.sock

# Archivos de sistema
.DS_Store
Thumbs.db
